<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootStrapCssLink -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/50bd49111d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/addProps-styles.css">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <title></title>
</head>
<body>
    <!-- navBar -->
    <header class="primary-header">
        <nav class="navbar fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="login.html"><img src="../public/logo1.png" alt=""></a>
              <div class="items">
                <ul class="navbar-nav loginRegister">
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Login/Register</a>
                    </li>
                  </ul>
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><i class="fa-solid fa-bars"></i></span>
                  </button>
              </div>
              
              <div class="offcanvas offcanvas-end" data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Cart</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Wishlist</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Vouchers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Site visit bookings</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Loan calculator</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Enquiry</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Customer support</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Post your property</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <!-- AddProperty -->
    <div class="container-fluid addProperty">
        <h3>Add Property For Sale</h3>
        <div class="items-box">
            <div class="property">
              <a href=""><span class="apartments"><i class="fa-solid fa-city"></i></span></a>
              <p>Apartments</p>
            </div>
            <div class="property">
              <a href=""><span class="villa"><i class="fa-solid fa-house-chimney"></i></span></a>
              <p>Villa</p>
            </div>
            <div class="property">
              <a href=""><span class="commercial"><i class="fa-solid fa-building-user"></i></span></a>
              <p>Commercial</p>
            </div>
            <div class="property">
              <a href=""><span class="plots"><i class="fa-solid fa-building"></i></span></a>
              <p>Plots</p>
            </div>
            <div class="property">
              <a href=""><span class="farmLands"><i class="fa-solid fa-tractor"></i></span></a>
              <p>Farm Lands</p>
            </div>
          </div>
    </div>

    <!-- property status -->
    <div class="container-fluid propertyStatus">
        <div class="content">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-inProgress-tab" data-bs-toggle="pill" data-bs-target="#pills-inProgress" type="button" role="tab" aria-controls="pills-inProgress" aria-selected="true">In Progress</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-posted-tab" data-bs-toggle="pill" data-bs-target="#pills-posted" type="button" role="tab" aria-controls="pills-posted" aria-selected="false">Posted</button>
                </li>
              </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-inProgress" role="tabpanel" aria-labelledby="pills-inProgress-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card">
                            <div class="card-img">
                                <img src="../public/pic_9.jpg" alt="">
                                <p class="type">2BHK</p>
                                <div class="status">
                                  <p>Under Construction</p>
                                </div>
                              </div>
                              <div class="details">
                                <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                <p class="address">90916 Mayer Greens Suite 978</p>
                                <p class="rera">RERA: P9749238764</p>
                                <p class="area">Area: 1200 SFT</p>
                              </div>
                              <div class="footer">
                                <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">in progress</small>
                              </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                                <div class="card-footer">
                                  <small class="text-muted">in progress</small>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                                <div class="card-footer">
                                  <small class="text-muted">in progress</small>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                                <div class="card-footer">
                                  <small class="text-muted">in progress</small>
                                </div>
                            </div>
                          </div>
                      </div>
                </div>
                <div class="tab-pane fade" id="pills-posted" role="tabpanel" aria-labelledby="pills-posted-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card  ">
                            <div class="card-img">
                                <img src="../public/pic_9.jpg" alt="">
                                <p class="type">2BHK</p>
                                <div class="status">
                                  <p>Under Construction</p>
                                </div>
                              </div>
                              <div class="details">
                                <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                <p class="address">90916 Mayer Greens Suite 978</p>
                                <p class="rera">RERA: P9749238764</p>
                                <p class="area">Area: 1200 SFT</p>
                              </div>
                              <div class="footer">
                                <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                              </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card  ">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card  ">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card  ">
                              <div class="card-img">
                                  <img src="../public/pic_9.jpg" alt="">
                                  <p class="type">2BHK</p>
                                  <div class="status">
                                    <p>Under Construction</p>
                                  </div>
                                </div>
                                <div class="details">
                                  <h3>Reddy Towers | <span class="price">30,000</span></h3>
                                  <p class="address">90916 Mayer Greens Suite 978</p>
                                  <p class="rera">RERA: P9749238764</p>
                                  <p class="area">Area: 1200 SFT</p>
                                </div>
                                <div class="footer">
                                  <button class="btn" type="button">Visit <i class="fa-solid fa-arrow-right"></i></button>
                                  <p><i class="fa-solid fa-location-dot"></i> Miyapur</p>
                                </div>
                            </div>
                          </div>
                      </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <!-- Footer -->
    <div class="footer1">
        <div class="container">
          <footer class="py-5">
            <div class="row">
              
              <div class="col-6 col-md-2">
                <h5>Properties</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Villas</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Apartments</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Commercial</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Plots</a></li>
                </ul>
              </div>
        
              <div class="col-6 col-md-2">
                <h5>Architecture</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Furniture</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lights</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Wall papers</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">automation</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cloths</a></li>
                </ul>
              </div>
        
              <div class="col-6 col-md-2">
                <h5>Services</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Real estate promotions</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business promotations</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Architecture services</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MEP Services</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ready mix concreate</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stone stores</a></li>
                </ul>
              </div>
    
              <div class="col-6 col-md-2">
                <h5>Policy</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Return Policy</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Listing policy</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MEP Services</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Payments policy</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Booking policy</a></li>
                </ul>
              </div>
            </div>
        
            <div class="second-part d-flex py-4 border-top">
              <div class="img"><img src="../public/logo1.png" alt=""></div>
              <div class="form">
                <form>
                    <div class="row mb-3">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <button class="btn btn-primary" type="button">Subscribe</button>
                  </div>
                </form>
              </div>
              
            </div>
    
            <div class="foot d-flex flex-column flex-sm-row justify-content-between border-top">
              <p>© 2022 Company, Inc. All rights reserved.</p>
              <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="fa-solid fa-envelope"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-square-whatsapp"></i></a></li>
              </ul>
            </div>
          </footer>
        </div>
      </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>